@model CarRental.Models.Rental.RentalViewModel
@{
    ViewData["Title"] = "Lista wypożyczeń";
}

@if (Model.RentalsList.Any())
{
    <div class="text-center m-3 text-center">
        <h1 class="display-3">Lista wypożyczeń</h1>
        <a class="btn btn-primary p-3" asp-controller="Rental" asp-action="AddRent"><i class="fa-solid fa-pen-to-square me-1"></i>Dodaj nowe wypożyczenie</a>
    </div>
    <table class="table table-hover">
        <thead class="text-center">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nazwa samochodu</th>
                <th scope="col">Osoba</th>
                <th scope="col">Data wypożyczenia</th>
                <th scope="col">Data zwrotu</th>
                <th scope="col">Czy zwrócono?</th>
                <th scope="col">Zwrot</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var item in Model.RentalsList)
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.Car.Car</th>
                    <th>@item.User.FirstName @item.User.LastName</th>
                    <th>@item.RentDate.ToShortDateString()</th>
                    <th>@item.ReturnDate.ToShortDateString()</th>
                    <th>
                        @if (item.IsReturned == true)
                        {
                            <p class="text-success"><i class="fa-solid fa-check me-2"></i>Tak</p>
                        }
                        else
                        {
                            <p class="text-danger"><i class="fa-solid fa-xmark me-2"></i>Nie</p>
                        }
                    </th>
                    <th>
                        @if (item.IsReturned == true)
                        {
                            <a class="btn btn-outline-danger float-right" asp-route-id="@item.Id" asp-route-isreturned="@item.IsReturned" asp-controller="Rental" asp-action="ChangeReturnState"><i class="fa-solid fa-xmark"></i></a>
                        }
                        else
                        {
                            <a class="btn btn-outline-success float-right" asp-route-id="@item.Id" asp-route-isreturned="@item.IsReturned" asp-controller="Rental" asp-action="ChangeReturnState"><i class="fa-solid fa-check"></i></a>
                        }
                    </th>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center">
        <p class="display-4">Dodaj nowe wypożyczenie</p>
        <a class="btn btn-primary" asp-controller="Rental" asp-action="AddRent"><i class="fa-solid fa-pen-to-square me-1"></i>Dodaj nowe wypożyczenie</a>
    </div>
}
