@model CarRental.Models.User.UserViewModel
@{
    ViewData["Title"] = "Użytkownicy";
}

@if (Model.Users.Any())
{
    <div class="text-center m-3 text-center">
        <h1 class="display-3">Lista użytkowników</h1>
        <a class="btn btn-primary p-3" asp-controller="User" asp-action="AddUser"><i class="fa-solid fa-plus me-3"></i>Dodaj użytkownika</a>
    </div>
    <table class="table table-hover">
        <thead class="text-center">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Email</th>
                <th scope="col">Numer telefonu</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var item in Model.Users)
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.FirstName</th>
                    <th>@item.LastName</th>
                    <th>@item.Email</th>
                    <th>@item.Phone</th>
                    <th>
                        <div class="d-flex gap-1 justify-content-center">
                            <form class=" float-left" method="post" asp-action="DeleteUser" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash me-2"></i>Usuń</button>
                            </form>
                            <a class="btn btn-warning float-right" asp-controller="Users" asp-action="EditUser"
                               asp-route-id="@item.Id"
                               asp-route-firstname="@item.FirstName"
                               asp-route-lastname="@item.LastName"
                               asp-route-email="@item.Email"
                               asp-route-phone="@item.Phone">
                                <i class="fa-solid fa-pen me-2"></i>Edytuj
                            </a>
                        </div>
                    </th>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center">
        <p class="display-4">Dodaj użytkownika</p>
        <a class="btn btn-primary" asp-controller="User" asp-action="AddUser"><i class="fa-solid fa-plus me-1"></i>Dodaj użytkownika</a>
    </div>
}
